<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573775755988-1ca1gme48itno3rra8h505tp61pt97q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573775755988-1ca1gme48itno3rra8h505tp61pt97q5</string>
	<key>API_KEY</key>
	<string>AIzaSyBV5jVe5Xk5mn6JKOitrly-_gRh_MusdKk</string>
	<key>GCM_SENDER_ID</key>
	<string>573775755988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kik.kinit-beta</string>
	<key>PROJECT_ID</key>
	<string>kinit-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>kinit-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573775755988:ios:5823605fbbac9520</string>
	<key>DATABASE_URL</key>
	<string>https://kinit-stage.firebaseio.com</string>
</dict>
</plist>